.firstcaption {

    color: hsl(179, 62%, 43%);
    font-family:'Karla', sans-serif;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 30px;

}

.maindiv {

    max-width: 100%;
    height: 90vh;
    /* align-items: center; */
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family:'Karla', sans-serif;
    margin-bottom: 70px;

}

.bldiv {

    background-color: hsl(179, 62%, 43%);
    padding: 2rem;
    font-size: 16px;
    width: 90%;
    /* height: 80%; */
    
}

.brdiv {

    background-color: hsl(179, 65%, 54%);
    padding: 2rem;
    font-size: 16px;
    width: 90%;
    /* height: 80%; */
    
    
}

.secondcontainer {

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    height: 90vh;
    
    

}

.firstcontainer {

    padding: 2rem;
    width: 90%;
    margin: 0 auto;
}

.secondcaption {

    color: hsl(71, 73%, 54%);
    font-weight: 400;
    font-size: larger;
}

.thirdcaption {

    color: hsl(218, 22%, 67%);
}
.dollarsign {

    font-size: x-large;
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    
}

.btn1 {

    background-color: hsl(71, 73%, 54%);
    padding: 1rem;
    font-size: 16px;
    width: 16rem;
    border-radius: 7px;
    color: white;
    /* width: 200px; */
    margin-top: 50px;
    /* align-items: center; */
    border: none;
}

.textdiv3 {

    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.text2div3 {

    color: white;
}

.text1 {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;

}

.textdiv2 {

    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.dollar {
    display: flex;
    flex-direction: row;
    
}

.firstcontainer {
    height: 90vh;
}

@media screen and (max-width:700px) {
    .maindiv{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .secondcontainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .firstcontainer {
        width: 70%;
        margin: 0 auto;
    }
    .btn1 {

        margin-right: 2rem;
    }
    
}
.btn1:hover { 
    border: 1px solid white;
    background-color: hsl(179, 62%, 43%);
    color: hsl(0, 0%, 100%, 0.75);
}